<%= render 'shared/errors' %>

<%= form_with(model: @article, local: true) do |f| %>

  <div class="mb-3">
    <label class="form-label" id="form_label_wine_edit">Wein Name</label>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <label class="form-label" id="form_label_wine_edit">Beschreibung des Weines</label>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <p>
    <%= f.submit "Wein anpassen", class: "btn btn-outline-success" %>
  </p>
<% end %>