<div class="container">
  <h1>Wein Details</h1>
  <p><strong>Name: </strong><%= @article.title %></p>
  <p><strong>Beschreibung: </strong><%= @article.description %></p>
  <br/>
  <%= link_to 'Bearbeiten', edit_article_path(@article), class: "btn btn-outline-success" %>
  <%= link_to 'Löschen', article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-outline-success" %>
  <%= link_to 'Zurück', articles_path, class: "btn btn-outline-success" %>
</div>