<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', obj: @user %>
      <%= form_with(model: @user, class: "shadow p-3 mb-5 bg-body-tertiary rounded", local: true) do |f| %>
        <form>
          <div class="row mb-3">
            <%= f.label :username, class: "fw-bold col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <%= f.text_field :username, class: "form-control", placeholder: "Enter a Username" %>
            </div>
          </div>

          <div class="row mb-3">
            <%= f.label :email, class: "fw-bold col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <%= f.email_field :email, rows: 10, class: "form-control", placeholder: "Enter a valid email-adress" %>
            </div>
          </div>

          <div class="row mb-3">
            <%= f.label :password, class: "fw-bold col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <%= f.password_field :password, rows: 10, class: "form-control", placeholder: "Enter a new password" %>
            </div>
          </div>

            <p>
              <%= f.submit "Sign Up", class: "btn btn-outline-success" %>
            </p>
        </form>
      <% end %>
      <%= link_to 'Back', articles_path, class: "btn btn-outline-success mb-4" %>
    </div>
  </div>
</div>